body {
	font-family: 'Turret Road', cursive;
}

#header {
	text-align: center;
}

#answer {
	text-align: center;
}

.button {
	width: 75px;
	height: 50px;
}

#calc {
	text-align: center;
}

.bottom {
	width: 116px;
	height: 50px;
}

